body{
    margin: 0;
    font-family: 'Be Vietnam Pro', sans-serif;
}
h1{
    font-size: 60px; 
    text-align: center;
}
h2{
    font-size: 40px;
    font-weight: 700;
}
h5{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
}
span{
    color: rgb(117, 86, 72);
}
p{
    margin-bottom: 25px;
    margin-top: 20px;
}
.btn{
    padding: 10px 15px;
    background-image: linear-gradient(rgb(83, 43, 30),rgb(160, 107, 107));
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: small;
    margin-left: 10px;
    transition: 0.4s;
}
.btn:hover{
    background-image: linear-gradient(rgb(160, 107, 107),rgb(83, 43, 30));
}
input{
    margin: 10px 5px;
    padding: 7px 13px;
    border: none;
    border-radius: 5px;
    background-color: rgba(204, 190, 190, 0.466);
    transition: 2s;
}
textarea{
    border: none;
    resize: none;
    background-color: rgba(204, 190, 190, 0.466);
    padding: 7px 13px;
}
.section-1{
    display: flex;
    padding-bottom: 100px;
}
.half-width{
    width: 40%;
    margin-left: 10% ;
    
}
.half-width img{
    width: 70%;
}

.about{
}
.mission{
    border-left: 5px solid;
    border-image: linear-gradient(black,rgb(184, 168, 168));
    border-image-slice: 1;
    padding-left: 25px;
}

/* section 1 is done */
.goal{
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}
.goal-itm{
    width: 20%;
    height: 300px;
    margin:10px 20px 10px 20px;
    padding: 16px;
    padding-bottom: 40px;
    border-radius:20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: 0.4s;
}
.goal-itm:hover{
    transform: scale(1.07);
}
.goal-itm h3{
    font-size: 20px;
}
.goal-itm img {
    width: 50%;
    align-items: center;
}
.goal .itm-1{
    background-color: rgba(207, 158, 153, 0.548);
}
.goal .itm-2{
    background-color:rgba(176, 147, 204, 0.363);
}
.goal .itm-3{
    background-color: rgba(213, 159, 226, 0.445);}

/*section 2 is done*/

.section-3{
    display: flex;
    padding-bottom: 100px;
    justify-content: center;

}
.half-width3{
    width: 30%;
}
.half-width4{
    width: 40%;
    margin-left: 30px;
    margin-right: 30px;
    padding: 20px;
}
.half-width3 img{
    width: 100%;
}
/*section 3 is done*/
.section-4{
    display: flex;
    padding-bottom: 120px;
    justify-content: center;
}
/*section 4 is done*/
.section-5{
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}
.half-width-5{
    width: 40%;
    margin-left: 10%;
    border: 1px solid black;

}
.half-width-6{
    padding-top: 90px;
    margin-left: 10%;
    width: 40%;
    border: 1px solid black;

}
/*section 5 is done*/










