body{
    margin: 0;
    font-family: 'Be Vietnam Pro', sans-serif;
}
h1{
    font-size: 60px; 
}
span{
    color: orange;
}
p{
    margin-bottom: 25px;
    margin-top: 20px;
}
.btn{
    padding: 10px 15px;
    background-color: orange;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    font-size: small;
    
    transition: 2ms;
}
.btn:hover{
    background-color: red;
}
section{
    display: flex;
    padding-bottom: 150px;
}
.half-width{
    width: 40%;
    margin-left: 10% ;
    
}
.half-width img{
    width: 70%;
}
.about{
}
.mission{
    border-left: 5px solid;
    border-image: linear-gradient(black,rgb(184, 168, 168));
    border-image-slice: 1;
    padding-left: 25px;
}

/* section 1 is done */







